<div id="main-wrapper">
  <shared-header />
  <shared-sidebar />

  <div class="page-wrapper">
    <div class="container-fluid">
      <shared-breadcrumbs />

      <!-- Mis rutas -->
      <router-outlet />

      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <!-- <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-body">
                      This is some text within a card block.
                  </div>
              </div>
          </div>
      </div> -->
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
    </div>

    <shared-footer />
  </div>
</div>
