<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          #txtBuscar
          type="text"
          class="form-control"
          placeholder="Buscar producto..."
        />
          <!-- (keyup)="buscarHospital(txtBuscar.value)" -->
      </div>
    </div>
  </div>
</div>

<!-- TODO: Agregar un *ngIf para mostrar el componente de loading -->
<enqui-search-loading />

<div class="row">
  <div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="">
                <h4 class="card-title">Lista de productos</h4>
                <h6 class="card-subtitle">
                  Total de productos registrados en el sistema (
                  <span class="label label-rouded label-themecolor">
                    {{ 40 }}
                  </span>
                  )
                </h6>
              </div>

              <button
                type="button"
                class="btn btn-outline-info waves-effect waves-light"
                data-toggle="modal"
                data-target="#add-contact"
              >
                <span class="btn-label"><i class="fa fa-plus"></i></span>Agregar nuevo producto
              </button>

              <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                              <h4 class="modal-title" id="myModalLabel">Agregar nuevo producto</h4> </div>
                          <div class="modal-body">
                              <form class="form-horizontal form-material">
                                  <div class="form-group">
                                      <div class="col-md-12 m-b-20">
                                          <input type="text" class="form-control" placeholder="Type name"> </div>
                                      <div class="col-md-12 m-b-20">
                                          <input type="text" class="form-control" placeholder="Email"> </div>
                                      <div class="col-md-12 m-b-20">
                                          <input type="text" class="form-control" placeholder="Phone"> </div>
                                      <div class="col-md-12 m-b-20">
                                          <input type="text" class="form-control" placeholder="Designation"> </div>
                                      <div class="col-md-12 m-b-20">
                                          <input type="text" class="form-control" placeholder="Age"> </div>
                                      <div class="col-md-12 m-b-20">
                                          <input type="text" class="form-control" placeholder="Date of joining"> </div>
                                      <div class="col-md-12 m-b-20">
                                          <input type="text" class="form-control" placeholder="Salary"> </div>

                                      <div class="col-md-12 m-b-20">
                                          <div class="fileupload btn btn-danger btn-rounded waves-effect waves-light">
                                            <span><i class="ion-upload m-r-5"></i>Subir imagen de perfil</span>
                                            <input type="file" class="upload">
                                          </div>
                                      </div>
                                  </div>
                              </form>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Save</button>
                              <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                          </div>
                      </div>
                      <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
              </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Deshmukh</td>
                            <td>Prohaska</td>
                            <td>@Genelia</td>
                            <td><span class="label label-danger">admin</span> </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Deshmukh</td>
                            <td>Gaylord</td>
                            <td>@Ritesh</td>
                            <td><span class="label label-info">member</span> </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Sanghani</td>
                            <td>Gusikowski</td>
                            <td>@Govinda</td>
                            <td><span class="label label-warning">developer</span> </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Roshan</td>
                            <td>Rogahn</td>
                            <td>@Hritik</td>
                            <td><span class="label label-success">supporter</span> </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Joshi</td>
                            <td>Hickle</td>
                            <td>@Maruti</td>
                            <td><span class="label label-info">member</span> </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Nigam</td>
                            <td>Eichmann</td>
                            <td>@Sonu</td>
                            <td><span class="label label-success">supporter</span> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>
